[submodule "ggst"]
	path = apps/ggst
	url = https://github.com/Aquaveo/ggst.git
	branch = tethys4_upgrade
[submodule "apps/tethysdash"]
	path = apps/tethysdash
	url = https://github.com/tethysplatform/tethysapp-tethys_dash.git
[submodule "plugins/geoglows"]
	path = plugins/geoglows
	url = git@github.com:FIRO-Tethys/tethysdash_plugin_geoglows.git
