[submodule "tethysapp-geoglows_dashboard"]
	path = apps/tethysapp-geoglows_dashboard
	url = git@github.com:Aquaveo/tethysapp-geoglows_dashboard.git
	branch = main
[submodule "ggst"]
	path = apps/ggst
	url = https://github.com/Aquaveo/ggst.git
	branch = tethys4_upgrade
[submodule "gwdm"]
	path = gwdm
	url = https://github.com/Aquaveo/gwdm.git
	branch = tethys_4_upgrade
