oauth2client
earthengine-api
s3fs==2024.3.1
geoglows
xarray
geopandas
openpyxl
psycopg2
pyogrio
urllib3<2
rioxarray
area
utm
pyshp
scipy==1.12.0
geojson
simplejson
pandarallel
siphon
matplotlib
sphinx_rtd_theme
sphinx
sphinxcontrib-napoleon
geoserver-rest
gstools==1.5.1
numpy==1.26.4