#geoglows_dashboard
oauth2client
earthengine-api
s3fs=2024.3.1
geoglows
xarray
geopandas
openpyxl
psycopg2
pyogrio
urllib3<2

#ggst
rioxarray
# geopandas --> Commented because it is already included
area
utm
pyshp

#gwdm

#geopandas ---> Commented because it is already included
scipy
rioxarray
geojson
simplejson
pandarallel
siphon
matplotlib
sphinx_rtd_theme
sphinx
sphinxcontrib-napoleon


#general fixes
numpy==1.26.4